.div-ficha{
    padding-top: 2em;
    
    h2{
        color: #646464;
        font-size: 20px;
        font-weight: 600;
    }
    text{
        color: #646464;
        font-size: 14px;
        font-weight: 500;
    }
    .div-ficha span:not(.span-diferentona){
        margin-left: .2em;
        color: #BFBFBF;
        font-size: 14px;
        font-weight: 500;
    }


    .sec-nome{
        margin-top: -.5em;
        margin-left: 2.9em;
    }
    .sec-nascimento{
        margin-left: .4em;
    }
    .sec-trabalha{
        margin-left: 1.717em;
    }


    .diferentona{
        display: flex;
        flex-direction: row;
    }
    .diferentona div:not(.not-div){
        margin-left: 2.7em; 
    }
    .not-div{
        margin-left: 2.8em;
    }
    .not-div .alt{
        margin-left: .2em;
    }
    .span-diferentona{
        margin-left: 0em;
        color: #BFBFBF;
        font-size: 14px;
        font-weight: 500;
    }
}